torch
transformers
datasets
accelerate

langchain
langchain-community
langgraph
langchain-groq

groq

chromadb
faiss-cpu

tavily-python

pandas
numpy
scikit-learn

jupyter
ipykernel

python-dotenv
pyyaml
tqdm

datasets
langdetect
#-e .